:root {
  /* Colors */
  /* Primary */
  --c1: #e0e8ff;
  --c2: rgb(56, 41, 224);

  /* Neutral */
  --c3: #f5f7ff;
  --c4: #7280a7;
  --c5: #1f2f56;

  /* Fontsize */
  --main-font-size: 16px;

  /* Weights */
  --w1: 500;
  --w2: 700;
  --w3: 900;
}
